[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg-binary = "*"
autopep8 = "*"
djangorestframework = "*"
django = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.11"
